<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Master Password</title>
  </head>
  <body>
    <h1>Welcome to Master Password</h1>
    <input type="text" placeholder="Type yor pin" id="first" />
    <!-- <input type="text" placeholder="Type your value" id="second" /> -->
    <button id="execute">Get Secret</button>
    <span id="result"></span>
    <script>
      function handleClick() {
        console.log(valueOfInputField.value);
        result.innerHTML = valueOfInputField.value;
        const password = valueOfInputField.value;

        fetch(`http://localhost:8080/${password}`).then(function(response) {
          return response.text().then(function(text) {
            result.innerHTML = text;
            console.log(result);
          });
        });
      }

      const valueOfInputField = document.querySelector("#first");
      const buttonValue = document.querySelector("#execute");
      let result = document.querySelector("#result");

      buttonValue.addEventListener("click", handleClick);
    </script>
  </body>
</html>
