<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Master Password</title>
  </head>
  <body>
    <h1>Welcome to Master Password</h1>
    <form id="submitForm">
      <input type="text" placeholder="Type your pin" id="inputField" />
      <!-- <input type="text" placeholder="Type your value" id="second" /> -->
      <button>Get Secret</button>
    </form>

    <!-- Second form -->
    <form id="setSecretForm">
      <input id="key" type="text" />
      <input id="value" type="password" />
      <button>Set Secret</button>
    </form>

    <script>
      const submitForm = document.querySelector("#submitForm");
      const valueOfInputField = document.querySelector("#inputField");
      const buttonValue = document.querySelector("#submit");

      // second form

      const inputCategory = document.querySelector("#key");
      const inputKey = document.querySelector("#key");
      const inputValue = document.querySelector("#value");
      const setSecretForm = document.querySelector("#setSecretForm");

      function handleSubmit() {
        event.preventDefault(event);
        result.innerHTML = valueOfInputField.value;
        const password = valueOfInputField.value;
        fetch(`/${password}`).then(function(response) {
          return response.text().then(function(text) {
            result.innerHTML = text;
          });
        });
      }

      let result = document.querySelector("#result");

      submitForm.addEventListener("submit", handleSubmit);

      function handleCreate() {
        event.preventDefault();
        const secret = {};
        secret[inputKey.value] = inputValue.value;
        console.log(secret);
      }

      setSecretForm.addEventListener("submit", handleCreate);
    </script>
  </body>
</html>
